
@{
    // Views are generally returned from an action method.
    // We use ViewResult type to return a view from an action method.

    // A View is responsible from UI, application data representation.
    // Information is displayed in the website using views.
    // A user performs all the actions on a view.
    // Like, click on a button, filling form, listing other UI elements.

    // Views are available inside Views folder at the root.
    // Views are grouped into folder named with application controllers.
    // They are also grouped based on their features.

    ViewData["Title"] = "Home";

    // All static files are placed inside wwwroot folder.
    // This folder also known as Content Root folder and
    // must be places at the root level.
}

<img src="~/images/logo.png" alt="logo" class="logo" />
<img src="~/MyStaticFiles/dummy.png" alt="dummy" class="logo" />

<h1>Welcome to the tutorial.</h1>
<p>This is the home page of our tutorial.</p>

<input type="button" id="btn" value="Click Me!" class="btn btn-danger" />

@{
    // Section is used on Views.
    // To create a section use @section directive.
    // Each section has a unique name and whatever
    // we will write inside this section block that
    // will replace the RenderSection with same name.
}
@section scripts{
    <script>
        $(document).ready(() => {
            $("#btn").prop("value", "Button text with jquery.");
        });
    </script>
}

<br />
Title: @ViewBag.Title
<br />
Id, Name: @ViewBag.Data.Id @ViewBag.Data.Name
<br />
BookModel: @ViewBag.Type.Id @ViewBag.Type.Author
