@{
    ViewData["Title"] = "All books";

    var booksCount = Model.books.Count;
    var randomNumber = new Random().Next(1, booksCount + 1);
    var parameters = new Dictionary<string, string>();
    parameters.Add("id", randomNumber.ToString());
}

<div class="container">
    <div class="row">
        <div class="btn-group">
            <a asp-controller="book" asp-action="GetBookFromRepository"
               asp-all-route-data="@parameters"
               class="btn btn-sm btn-outline-secondary">Random Book</a>
        </div>
        @foreach (var book in Model.books)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                        <h3 class="card-title">@book.Title</h3>
                        <p class="card-text">@book.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-controller="book" asp-action="GetBookFromRepository"
                                   asp-route-id="@book.Id" asp-fragment="book"
                                   class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <div class="btn-group">
                                <a asp-route="bookDetails" asp-route-id="@book.Id"
                                   class="btn btn-sm btn-outline-secondary">View details</a>
                            </div>
                            <small class="text-muted">@book.Author</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

